<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cherry Blossom Sites in Japan Database</title>

<script type="text/javascript">
	alert("Welcome to the Cherry Blossom Sites in Japan Database!");
	console.log("");

	function displayInformation () {
		document.querySelector('h1').innerHTML = "Cherry Blossom Sites in Japan Database";
		var body = document.querySelector('body')
		body.style.background = "#ffb3d6";
		body.style.margin = "10%";
	}
</script>

<style>
h1,h4 {
	color: #b30053;
}

</style>
</head>

<body onload = "displayInformation();">
	<h1>A name or title goes here</h1>
	<h4>Use this app to search for an area in Japan and it will let you know if there are well-known sites to see cherry blossom trees or you can see all the places listed along with area location, area type, and expected bloom dates in the database.</h4>
	<br>
	<br>
	<br>
	<form>
	<button type="submit"
	formaction="{{ url_for('homepage')}}">Home page</button>
	<button type="submit"
	formaction="{{ url_for('search_main')}}">Search by an Area</button>
	<button type="submit"
	formaction="{{ url_for('see_all_site_info')}}">See all Sites in the Database</button>
	</form>
