<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Please manually input the area you want to search for after the 'search/' in the URL field above. Please note you will need to capitalize the first letter.</title>

<script type="text/javascript">
  function displayInformation () {
    document.querySelector('h3').innerHTML = "Please manually input the area you want to search for after the 'search/' in the URL field above. Please note you will need to capitalize the first letter.";
    var body = document.querySelector('body')
    body.style.background = "#ffb3d6";
    body.style.margin = "10%";}
</script>

<style>
h3{
	color: #b30053;
}
</style>
</head>

<body onload = "displayInformation();">
	<h3>Please manually input the area you want to search for after the 'search/' in the URL field above. Please note you will need to capitalize the first letter.</h3>
<br>
<br>
<form>
<button type="submit"
formaction="{{ url_for('homepage')}}">Return to home page</button>
<button type="submit"
formaction="{{ url_for('search_main')}}">Search by an Area</button>
<button type="submit"
formaction="{{ url_for('see_all_site_info')}}">See all Sites in the Database</button>
</form>
