<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The following sites were found from your search:</title>


<script type="text/javascript">
  function displayInformation() {
    document.querySelector('h1').innerHTML = "The following sites were found from your search:";
    var body = document.querySelector('body')
    body.style.background = "#ffb3d6";
    body.style.margin = "10%";}

</script>
<style>
h1, li {
	color: #b30053;
}

</style>
</head>
<body onload = "displayInformation();">
  <h1>The following sites were found from your search:</h1>
  <ul>
  {% for s in site_bloom_return:%}
  <li><b>{{s}}</b></li><br>
  {% endfor %}
<br>
<br>
<form>
<button type="submit"
formaction="{{ url_for('homepage')}}">Return to Home Page</button>
</form>
